<%- include partials/header.ejs %>

<!-- Layout of Screenshots of Projects-->
<div class="container-fluid">
	<div class="row">
	    <div class="col-md-4">	 
		    <a href="http://travelplannerchang.azurewebsites.net">
		    	<img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/ef69ce3e-2bef-4000-8a60-b8fd2a41b67c_zps2ubgprg7.png" />      
		    </a> 
            <p class="centerize">A Travel Planner Web App built with Visual Studio with C#</p>  
	    </div>
		<div class="col-md-4">	    	
            <a href="http://gc200293227.computerstudi.es/project1-chang/index.html">
            	<img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/4634e5ff-2aef-42c3-b795-4dd8aa32bdde_zpsq1ubmph2.png" />
            </a>            
	        <p class="centerize">A Web Site built with HTML and CSS</p>
	    </div>
	    <div class="col-md-4">	    	
	    	<a href="http://gc200293227.computerstudi.es/comp1006/Assignment2/default.php">
	    		<img class="img-responsive img-rounded" src="http://i359.photobucket.com/albums/oo33/Chang_Liu/FireShot%20Capture%203%20-%20Home%20-%20http___gc200293227.computerstudi.es_comp1006_Assignment2_default.php_zpsr8uaxvig.png" />
	    	</a>
	    	<p class="centerize">A Web Site built with PHP</p>
	    </div>
	</div>
</div>

<%- include partials/footer.ejs %>